
/* IMPORT FONTS (MONTSERRAT) */
@font-face {
    font-family : 'Montserrat';
    font-style  : normal;
    font-weight : normal;

    src         : url('../fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family : 'Montserrat';
    font-style  : normal;
    font-weight : bold;

    src         : url('../fonts/Montserrat-Medium.otf') format('opentype');
}

@font-face {
    font-family : 'Montserrat';
    font-style  : normal;
    font-weight : 800;

    src         : url('../fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
    font-family : 'Montserrat';
    font-style  : normal;
    font-weight : 900;

    src         : url('../fonts/Montserrat-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family : 'Montserrat';
    font-style  : normal;
    font-weight : lighter;

    src         : url('../fonts/Montserrat-Light.otf') format('opentype');
}

@font-face {
    font-family : 'Montserrat';
    font-style  : italic;
    font-weight : normal;

    src         : url('../fonts/Montserrat-Italic.otf') format('opentype');
}

/* SCROLLBAR CUSTOMIZATION */
::-webkit-scrollbar {
    height : 5px;
    width  : 5px;
}

::-webkit-scrollbar-track {
    background    : #F0F0F0;
    border-radius : 24px;
}

::-webkit-scrollbar-thumb {
    background    : #dcdcdc;
    border-radius : 24px;
}

::-webkit-scrollbar-thumb:hover {
    background : #263b5e;
}

/* LINK HOVERS */
a:hover {
    opacity : 0.8;
}

/* COLOR SCHEME : AVION */
/* BACKGROUND */
.background {
    position        : fixed;
    top             : 0;
    left            : 0;

    height          : 100%;
    width           : 100%;

    background      : url('../images/background.jpg') center center no-repeat;
    background-size : cover;
}

.background #overlay {
    position   : absolute;
    top        : 0;
    left       : 0;

    height     : 100%;
    width      : 100%;

    opacity    : 0.92;
    background : #f4f7fc;
}

/* CONTENT */
.content {
    position    : absolute;
    top         : 0;
    left        : 50%;

    height      : calc(100% - 100px);
    width       : 612px;
    margin      : 50px 0 50px -306px;

    font-family : "Montserrat", Helvetica, Arial, sans-serif;
}

.content #card {
    overflow      : auto;
    height        : calc(100% - 100px);
    margin        : 0 50px;
    padding       : 50px;

    background    : white;
    text-align    : center;
    border-radius : 32px;
    box-shadow    : 1px 3px 6px #DCDCDC;
}

/* HEADER */
.header {
    height : 32px;
    width  : 412px;
    margin : 0 auto 42px;
}

.header #logo {
    float  : left;

    height : 24px;
    margin : 4px 0;
}

.header #label {
    float       : right;

    margin      : 8px 0;

    font-size   : 10pt;
    font-weight : bold;
    color       : #b94640;
}

/* MAIN */
.main #title {
    width       : 412px;
    margin      : auto;

    font-size   : 24pt;
    font-weight : 800;
    color       : #263b5e;
    line-height : 142%;
}

.main #title .quotes {
    margin      : 0 3px;

    opacity     : 0.92;
    font-size   : 28pt;
    font-weight : 900;
}

.main #desc {
    width       : 412px;
    margin      : 16px auto;

    opacity     : 0.8;
    font-size   : 14pt;
    font-weight : bold;
    line-height : 200%;
}

.main #src {
    margin      : 0;

    opacity     : 0.8;
    font-size   : 10pt;
    line-height : 224%;
}

.main #src a {
    color : #cc302b;
}

/* FOOTER */
.footer {
    position      : absolute;
    bottom        : 50px;

    height        : 16px;
    width         : 364px;
    margin        : 42px auto 0;
    padding       : 12px 24px;

    background    : #f8f8f8;
    border-radius : 6px;
}

.footer #name {
    float       : left;

    margin      : 0;

    opacity     : 0.66;
    font-size   : 10pt;
    font-weight : bold;
}

.footer #date {
    float       : right;

    margin      : 0;

    opacity     : 0.66;
    font-size   : 10pt;
    font-weight : bold;
}

/*RESPONSIVENESS */
@media screen and (max-height: 656px) {
    .content #card {
        border-radius : 8px;
    }
    .footer {
        position : relative;
        bottom   : unset;
    }
}